# Default ignored files
#springcloud-demo
/springcloud-demo.iml

# .idea
/.idea

#config-client
/config-client/logs
/config-client/target
/config-client/config-client.iml

#config-server
/config-server/logs
/config-server/target
/config-server/config-server.iml

#elasticsearch
/elasticsearch/logs
/elasticsearch/target
/elasticsearch/elasticsearch.iml

#eureka-client
/eureka-client/logs
/eureka-client/target
/eureka-client/eureka-client.iml

#eureka-server
/eureka-server/logs
/eureka-server/target
/eureka-server/eureka-server.iml

#logs
/logs

#ribbon-turbine
/ribbon-turbine/logs
/ribbon-turbine/target
/ribbon-turbine/ribbon-turbine.iml

#service-feign
/service-feign/logs
/service-feign/target
/service-feign/service-feign.iml

#service-ribbon
/service-ribbon/logs
/service-ribbon/target
/service-ribbon/service-ribbon.iml

#service-turbine
/service-turbine/logs
/service-turbine/target
/service-turbine/service-turbine.iml

#service-zuul
/service-zuul/logs
/service-zuul/target
/service-zuul/service-zuul.iml

# Default ignored files
/workspace.xml
